<div class="container-fluid">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link  menu cursor-pointer" routerLink="gifs">Cancelar</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-12 col-md-12 p-0">
      <div class="card-register p-3">
        <div class="row mt-5 justify-content-center align-items-center">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-right text-introduce">Sube tu gif aqui</p>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registerForm mt-5">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" formControlName="name" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                  <p class="mb-0 pl-1" *ngIf="f.name.errors.required">El nombre es requerido</p>
                </div>
              </div>
              <div class="form-group">
                <input type="file" class="form-control" placeholder="" formControlName="image" (change)="onFileChanged($event)" #imageInput>
                <div class="invalid-feedback" *ngIf="submitted && f.image.errors">
                  <p class="mb-0 pl-1" *ngIf="f.image.errors.required">La imagen es requerido</p>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-submit">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
