.card-login {
  width: 100%;
  min-height: 100vh;
  background-color: #005397;
}
.card-login .text-introduce {
  font-family: 'Montserrat-SemiBold';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: right;
  color: #FFFFFF;
}
.card-login .loginForm label {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.card-login .loginForm .form-control {
  height: 37px;
  border-radius: 18.5px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.36);
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.card-login .loginForm .btn-submit {
  height: 47px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0 transparent !important;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #005397;
  border-radius: 28.5px;
  border: 0;
}
.card-login .text-additional,
.card-login .text-additional a {
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
}
