<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 p-0">
      <div class="card-login p-3">
        <div class="row mt-5 justify-content-center align-items-center">
          <div class="col-12 col-md-4">
            <p class="mb-0 text-right text-introduce">Introduce tu nombre</p>
            <p class="mb-0 text-right text-introduce">usuario y contraseña</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm mt-5">
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control" formControlName="email" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
                  <p class="mb-0 pl-1" *ngIf="f.email.errors.required">El correo es requerido</p>
                  <p class="mb-0 pl-1" *ngIf="f.email.errors.email">El correo es invalido</p>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                  <p class="mb-0 pl-1" *ngIf="f.password.errors.required">La contraseña es requerido</p>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-submit">Iniciar sesión</button>
                <p class="mb-0 mt-3 text-additional">No tienes una cuenta registrate <a [routerLink]="['/register']">aquí</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
