/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/material/material-dark-theme.css';
@import '~@ngx-share/button/themes/modern/modern-light-theme.css';

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/assets/fonts/Montserrat-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/fonts/Montserrat-Light.otf') format('opentype');
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding-top: 0;
  font-family: 'Montserrat-Light';
}
/* Validator errors */
.invalid-errors p {
  font-size: 80%;
  color: #dc3545 !important;
}
.cursor-pointer{
  cursor: pointer;
}
.nav .menu:hover{
  background-color: #005397;
  color: #fff !important;
}
.nav .menu.active{
  background-color: #005397;
  color: #fff !important;
}
.nav-tabs .nav-link{
  color: #fff ;
}
.nav-tabs .nav-item .nav-link.activate{
  color: #495057 !important;
}
.btn-add{
  border: 1px solid;
  border-radius: 50%;
  border-width: medium;
  background: black;
}
