<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 p-0">
      <div class="card p-3">
        <div class="row">
          <div class="col-12 col-md-12">
            <button type="button" name="button" class="btn btn-secondary btn-sm" (click)="getGifs('accepted')">Aceptados</button>
            <button type="button" name="button" class="btn btn-secondary btn-sm ml-2" (click)="getGifs('all')">Todos</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-md-3"  *ngFor="let item of gifs">
            <div class="gif-box p-2 mb-3" #box>
              <p class="mb-0 name">{{ item.name }}</p>
              <div class="text-center">
                <img [src]="item.url" [alt]="item.name" class="image mt-2" [style.width.px]="box.offsetWidth">
              </div>
            </div>
          </div>
        </div>
        <img src="/assets/img/plus.png" alt="" class="btn-add m-3" [routerLink]="['/gifs/register']">
      </div>
    </div>
  </div>
</div>
