.card {
  width: 100%;
  min-height: 100vh;
  background-color: #005397;
}
.gif-box {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 13px 0 rgba(3, 3, 3, 0.15);
  background-color: #ffffff;
  position: relative;
}
.gif-box .name {
  font-family: 'Montserrat-Bold';
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #003b5c;
}
.gif-box .image {
  height: 160px;
  object-fit: contain;
  cursor: pointer;
}
.btn-add {
  width: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.logout {
  font-family: 'Montserrat-Medium';
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #ffffff;
  cursor: pointer;
}

