<div class="container-fluid">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link menu cursor-pointer"
         [class.active]="menuActivos"
         (click)="getGifs('accepted')">Aceptados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menu cursor-pointer"
         [class.active]="menuTodos"
         (click)="getGifs('all')">Todos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  menu cursor-pointer" (click)="logout()">Cerrar sesión</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-12 col-md-12 p-0">
      <div class="card p-3">
        <ngb-tabset #tabs>
          <ngb-tab id="tabla" title="Tabla" (click)="showGrid(true)">
            <ng-template ngbTabContent>
              <div *ngIf="show" class="row mt-3">
                <div class="col-12 col-md-3" *ngFor="let item of gifs;let i = index">
                  <div class="gif-box p-2 mb-3" #box>
                    <p class="mb-0 name">{{ item.name }}</p>
                    <div class="text-center" (click)="open(i)">
                      <img [src]="item.url" [alt]="item.name" class="image mt-2" [style.width.px]="box.offsetWidth">
                    </div>
                     <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                      <img src="/assets/img/verified.png" alt="verified" width="30" class="cursor-pointer"
                           (click)="toAccept(item, true)"
                           *ngIf="!item.accepted">
                      <img src="/assets/img/cancel.png" alt="cancel" width="30" class="ml-2 cursor-pointer"
                           (click)="toAccept(item, false)"
                           *ngIf="item.accepted">
                       <share-buttons [url]="item.url" [title]="item.name"></share-buttons>

                     </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Carrusel" (click)="showGrid(false)">
            <ng-template ngbTabContent>
              <div class="col-12 mt-3" [hidden]="!show">
                <ng-image-slider [images]="slider" #nav></ng-image-slider>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>


        <img src="/assets/img/plus.png" alt="" class="btn-add m-3" [routerLink]="['/gifs/register']">
      </div>
    </div>
  </div>
</div>
